<ion-side-menus enable-menu-with-back-views="false" expose-aside-when="large">
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">

    <ion-nav-bar class="bar bar-header bar-calm" ng-show="loggedIn">
      <div class="root">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="loggedIn">
          </button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-ios-barcode-outline" ng-click="scan()" ng-show="loggedIn">
            Scan
          </button>
        </ion-nav-buttons>
      </div>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">


    <ion-content has-bouncing="true" class="l-menu">
      <ion-item menu-close href="#/app/user/profile" class="l-menu-item l-menu-item-user">
        <div class="image">
          <img ng-src="https://secure.gravatar.com/avatar/{{auth.gravatar}}?s=90&d=identicon" width="100%"
               height="auto"/>
        </div>
        <div class="username">
          @{{auth.username}}
        </div>
      </ion-item>

      <div ng-show="loggedIn">
        <ion-item menu-close href="#/app/timeline" class="l-menu-item">
          <i class="ion-android-apps"></i> Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/items" class="l-menu-item">
          <i class="icon ion-ios-pricetag"></i> Listing
        </ion-item>
        <ion-item menu-close href="#/app/my/items" class="l-menu-item">
          <i class="ion-ios-paper-outline"></i> My Items
        </ion-item>
        <ion-item menu-close href="#/app/my/requests" class="l-menu-item">
          <i class="ion-android-radio-button-off"></i> My Requests
        </ion-item>
        <ion-item menu-close href="#/app/owner/items" class="l-menu-item">
         <i class="ion-ios-pricetag-outline"></i> Owner Items
        </ion-item>
        <ion-item menu-close href="#/app/owner/requests" class="l-menu-item">
          <i class="ion-android-checkmark-circle"></i>Owner Requests
        </ion-item>
        <ion-item menu-close href="#/app/user/profile" class="l-menu-item">
          <i class="ion-android-person"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/about" class="l-menu-item">
          <i class="ion-ios-information-outline"></i> About
        </ion-item>
        <ion-item menu-close href="#/app/admin/item/add" class="l-menu-item">
          <i class="ion-ios-information-outline"></i> Add New Listing
        </ion-item>
      </div>
      <div class="l-menu-bottom">
        <ion-item menu-close href="#/app/login" ng-show="!loggedIn" class="l-menu-item">
          <i class="ion-log-in"></i> Login
        </ion-item>
        <ion-item menu-close href="#/app/logout" ng-show="loggedIn" class="l-menu-item l-menu-item-bad">
          <i class="ion-log-in"></i> Logout
        </ion-item>
      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>

