<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">

    <ion-nav-bar class="bar bar-header bar-calm" ng-show="loggedIn">
      <div class="root">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="loggedIn">
          </button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-qr-scanner" ng-click="scan()" ng-show="loggedIn"> Scan
          </button>
        </ion-nav-buttons>
      </div>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">


    <ion-content has-bouncing="true">
      <div class="item item-avatar darkbk" ng-click="profiletoggle = !profiletoggle">

        <img ng-src="https://secure.gravatar.com/avatar/{{auth.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>
        <h2>@{{auth.username}}</h2>
        <i class="ion-ios-gear status icon"></i>
      </div>

      <div class="navi" ng-show="profiletoggle" class="animated bounceOutLeft">
        <ion-list>
          <ion-item menu-close href="#/app/user/profile" ng-show="loggedIn" class="animated fadeIn"
                    ng-click="profileToggle = false">
            View profile
          </ion-item>
          <ion-item menu-close href="#/app/account/settings" ng-show="loggedIn" class="animated fadeIn"
                    ng-click="profileToggle = false">
            Account Settings
          </ion-item>
          <ion-item menu-close href="#/app/settings" ng-show="loggedIn" class="animated fadeIn"
                    ng-click="profileToggle = false">
            Application Settings
          </ion-item>
          <ion-item menu-close href="#/app/logout" ng-show="loggedIn" class="animated fadeIn"
                    ng-click="profileToggle = false">
            Logout
          </ion-item>
        </ion-list>
      </div>

      <ion-list>
        <ion-item menu-close href="#/app/home" class="item-icon-left" ng-hide="loggedIn">
          <i class="icon ion-home"></i>Home
        </ion-item>
        <ion-item menu-close href="#/app/timeline" class="item-icon-left" ng-show="loggedIn">
          <i class="icon ion-home"></i>Home
        </ion-item>
        <ion-item menu-close href="#/app/items" class="item-icon-left" ng-show="loggedIn">
          <i class="icon ion-ios-pricetag"></i>Listing
        </ion-item>
        <ion-item menu-close href="#/app/my/items" class="item-icon-left" ng-show="loggedIn">
          <i class="icon ion-android-folder"></i>My Items
        </ion-item>
        <ion-item menu-close href="#/app/my/requests" class="item-icon-left" ng-show="loggedIn">
          <i class="icon ion-ios-folder"></i>My Requests
        </ion-item>
        <div ng-click="ownerToggle = !ownerToggle">
          <ion-item ng-show="loggedIn" class="item-icon-right">
            <i class="icon ion-android-arrow-dropdown" ng-hide="ownerToggle"></i>
            <i class="icon ion-android-arrow-dropup" ng-show="ownerToggle">
            </i>Owner Menu
          </ion-item>
        </div>

        <div class="navi" ng-show="ownerToggle" class="animated bounceOutLeft">
          <ion-list>
            <ion-item menu-close href="#/app/owner/items" class="animated fadeIn" ng-show="loggedIn"
                      ng-click="ownerToggle = false">
              My items
            </ion-item>
            <ion-item menu-close href="#/app/owner/requests" class="animated fadeIn" ng-show="loggedIn"
                      ng-click="ownerToggle = false">
              Requests
            </ion-item>
          </ion-list>
        </div>
        <!--<ion-item menu-close href="#/app/scanner"  ng-show="loggedIn">-->
        <!--Scan-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/users"  ng-show="loggedIn">-->
        <!--Users-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/upload/image"  ng-show="loggedIn">-->
        <!--Upload Image-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/user/profile"  ng-show="loggedIn">-->
        <!--My Profile-->
        <!--</ion-item>-->

        <ion-item menu-close href="#/app/login" ng-hide="loggedIn">
          Login
        </ion-item>

        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" ng-controller="currentRentalCtrl">


    <ion-content class="holding">
      <h1>Holding</h1>
      <p class="subtitle">Items your currently hold</p>
      <div>
        <ul class="timeline">
          <li ng-repeat="product in products.items" menu-close>
            <a href="#/app/item/{{product.id}}">
              <div class="tmicon tmicon-calm"><img src="{{imagedataurl}}{{product.images[0].size.thumb}}"></div>
              <div class="tmlabel tmlabel-calm">
                <h4><b>{{product.title}}</b></h4>
                <br>
                <p>
                  <medium><i class="icon ion-ios-clock"></i> {{product.due | amCalendar}}</medium>
                </p>
                <img class="timelineimg" ng-if='item.img' src="{{item.img}}"/>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>

