<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
    <ion-nav-bar class="bar bar-header bar-calm" ng-show="loggedIn">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="loggedIn">
        </button>

      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-qr-scanner"  ng-click="scan()" ng-show="loggedIn"> Scan</button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">



    <ion-content has-bouncing="true">
      <div class="item item-avatar darkbk" ng-click="profiletoggle = !profiletoggle">

          <img ng-src="https://secure.gravatar.com/avatar/{{auth.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>
          <h2>@{{auth.username}}</h2>
          <i class="ion-ios-gear status icon"></i>
      </div>

<div class="navi" ng-show="profiletoggle" class="animated bounceOutLeft">
      <ion-list>
        <ion-item menu-close href="#/app/user/profile" ng-show="loggedIn">
          View profile
        </ion-item>
        <ion-item menu-close href="#/app/account/settings" ng-show="loggedIn">
          Account Settings
        </ion-item>
        <ion-item menu-close href="#/app/settings" ng-show="loggedIn">
          Application Settings
        </ion-item>
        <ion-item menu-close href="#/app/logout" ng-show="loggedIn">
          Logout
        </ion-item>
      </ion-list>
</div>

      <ion-list>
        <ion-item menu-close href="#/app/home" ng-hide="loggedIn">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/timeline" ng-show="loggedIn">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/items" ng-show="loggedIn">
          Listing
        </ion-item>
        <ion-item menu-close href="#/app/my/items" ng-show="loggedIn">
          My Items
        </ion-item>
        <!--<ion-item menu-close href="#/app/scanner"  ng-show="loggedIn">-->
          <!--Scan-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/users"  ng-show="loggedIn">-->
          <!--Users-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/upload/image"  ng-show="loggedIn">-->
          <!--Upload Image-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/user/profile"  ng-show="loggedIn">-->
          <!--My Profile-->
        <!--</ion-item>-->

        <ion-item menu-close href="#/app/login" ng-hide="loggedIn">
          Login
        </ion-item>

        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">



    <ion-content>
      <h1>Right side</h1>
      <br><br>
      <br>      <b>Insert QR HERE</b>
    </ion-content>

    </ion-side-menu>
</ion-side-menus>
