<ion-view view-title="About">
  <ion-content class="about wrapper" has-bouncing="true">
    <div class="content">
      <h1 class="animated fadeIn">About</h1>
      <ul class="important animated fadeIn">
          <li>
            <p><b>Developer: </b>Stuart Douglas</p>
          </li>
        <li>
          <p><b>Application name:</b> Karite</p>
        </li>
        <li><p><b>Email: </b> s.u.douglas@dundee.ac.uk</p></li>
        <li>
          <p>
            <b>
              Description:</br>
            </b>
            This app was developed alongside a Golang API and AngularJS webapp as part of my Honours project at Dundee
            University.
          </p>
        </li>
      </ul>
      <ul>

        <h3 class=" animated fadeIn">Facts</h3>
        <li class="info  animated fadeIn">
          <b>借りて(Karite) = Borrow</b>
          <p>
            The name came around a rethink of how users should use the app,
            originally the project was to called a rental app but has been changed to borrow as it sounds more realistic
          </p>
        </li>
        <li class="info  animated fadeIn">Did you know if you google karite, you will get Shea Butter, this is because karité is one of
          the local names of Shea Butter
        </li>
      </ul>

    </div>

  </ion-content>
</ion-view>
