<ion-view view-title="Login">
  <ion-content class="login wrapper" has-bouncing="true">
    <form ng-submit="login(user)" ng-hide="processing" class="login form">


      <div class="login input">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>



      <div class="row row-bottom">
        <div class="login submit">
          <button class="button button-block button-positive">
            Login
          </button>
        </div>
      </div>


    </form>


  </ion-content>
</ion-view>
