<ion-view view-title="Login">
  <div class="background">
    <slider-image endpoint="/products/random" numbertoshow="1"></slider-image>
  </div>
  <div class="cover-grey"></div>
  <ion-content class="login" has-bouncing="true">


    <div class="title">
      <h1>Login</h1>
      <div class="error" ng-show="error" ng-cloak>
        <p>{{error}}</p>
      </div>
      <i>Enter your username and password</i>
      <form ng-submit="login(user)" class="login form">
        <div class="login input">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.name">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
          </label>
        </div>
        <div class="login submit">
          <button class="button button-block button-positive">
            <span ng-hide="processing">login</span>
            <span ng-show="processing">logging in</span>
          </button>
        </div>
      </form>
      <div class="bottom">
        <button class="button" ng-click="forgotPassword()">
          Forgotten Password
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>
