<ion-view view-title="My Items">
  <ion-content class="listing" has-bouncing="true">
    <div class="bar bar-subheader item-input-inset">
      <form class="search-bar" ng-submit="search(term)">
        <div class="inputs">
          <div class="search-input" ng-class="SearchClass" ng-hide="!showSearch">
            <input type="text" ng-model="term" placeholder="Enter tags">
          </div>
          <div class="cancel-button" ng-class="SearchClass" ng-hide="!showSearch">
            <div class="cancel" ng-click="hideSearch()">Cancel</div>
          </div>
          <div class="reveal-button" ng-class="SearchClass" ng-hide="showSearch">
            <i class="ion-search" ng-click="revealSearch()"></i>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col">
        <i>
          Showing results {{start}} - {{start + count}} from {{products.total}}.
        </i>
      </div>
    </div>

    <ion-refresher class="on-top"
                   pulling-text="Pull to refresh..."
                   on-refresh="doRefresh()">
    </ion-refresher>

    <div>
      <ion-scroll direction="x" class="filters">
        <div class="filter" ng-class="filter.active" ng-repeat="filter in filters"
             ng-click="getFilteredResults(filter.path, $index)">
          {{filter.title}}
        </div>
      </ion-scroll>
    </div>

    <div class="p-items">
      <div class="p-item" ng-show="noData">
        <h1><i class="ion-information-circled"></i> No Requests</h1>
      </div>
      <div class="p-item" ng-show="noData">
        <a class="button" href="#/app/items">View listings</a>
      </div>
      <div class="p-item" ng-repeat="product in products.items">

        <a href="">
          <div on-hold="holdImage($index)" on-release="releaseImage($index)" class="p-image"
               ng-style="{'background':'url({{domain}}{{product.images[0].size.small}}) no-repeat center center', 'background-size': 'cover', 'overflow':'hidden'}"></div>

          <div class="p-title-tag">
            <div class="title">
              {{product.title | limitchars: 19}}
            </div>
            <div class="tag">
              <availability datasource={{product.id}}></availability>
            </div>
          </div>
          <div class="p-spacer"></div>
          <div class="p-footer-items">
            <div class="p-footer-item">
              <i class="ion-clock"></i> Requested {{product.date_requested | amCalendar}}
            </div>
            <div class="p-footer-item">
              <button class="button button-assertive" ng-click="cancel(product.id, $index)">Cancel</button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ion-infinite-scroll class="scroll infintite" ng-if="!noMoreData" icon="ion-loading-c"
                         on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
