<ion-view view-title="{{product.title}}">
  <ion-content has-bouncing="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="product">

      <ion-slides class="boxes animated fadeIn" options="options" slider="data.slider">

        <div class="overlay-icon">
          <availability datasource={{product.id}} ng-hide="owner" showdays="true"
                        days={{product.product_rental_period_limit}}></availability>
        </div>
        <ion-slide-page class="box" ng-repeat="image in product.images">
          <img src="{{domain}}{{image.size.medium}}">
        </ion-slide-page>
      </ion-slides>

      <div class="content">
        <div class="title animated fadeIn">
          <h1>{{product.title}}</h1>
        </div>
        <div class="spacer"></div>

        <div class="button-row" ng-hide="owner">
          <span ng-if="auth.username != product.owner.username">
            <button class="button" ng-click="rentbuttonclick()" ng-show="loggedIn" ng-hide="hasRequested"
                    ng-class="rentbuttonclass">Request Listing
            </button>
            <!--<button class="button" ng-class="rentbuttonclass" ng-click="rentbuttonclick()" ng-show="loggedIn"-->
            <!--ng-hide="hasRequested || isOwner">{{availability}}-->
            <!--</button>-->
            <button class="button" ng-class="button" ng-show="hasRequested">Awaiting approval</button>
            <button class="button button-assertive" ng-click="cancelRequest()" ng-show="hasRequested">Cancel Request
            </button>
          </span>
          <span ng-if="auth.username == product.owner.username">
            <a class="button" href="#/app/user/{{ownerAva.owner}}" ng-show="ownerAva.owner != 'null'">Currently held by
              {{ownerAva.owner}}</a>
            <a href="#/app/request/{{product.id}}" class="button" ng-hide="ownerAva.owner != 'null'">
              {{requestData.num_of_request}}
              <span ng-show="requestData.num_of_request === 1"> request</span>
              <span ng-hide="requestData.num_of_request === 1"> requests</span>
            </a>
            <span ng-show="ownerAva.owner != 'null'">
              <button class="button" ng-click="return()">
                Mark returned
              </button>
            </span>


          </span>

        </div>
        <div class="button-row" ng-show="owner">
          <span ng-show="owner">
              <h4><b>You currently hold this</b></h4>
              <p><b>Due: </b>{{ava.date_due | amCalendar}}</p>

          </span>
        </div>
        <div class="spacer"></div>
        <div
          ng-if="product.content.length == 1897 || product.content.length == 0 || product.content.includes('undefined')">
          {{product.description}}
        </div>
        <div class="content-container animated fadeIn"
             ng-if="product.content.length != 1897 || product.content.length != 0"
             ng-hide="product.content.includes('undefined')" ng-click="goTo('app.item.description', product)">
          <div class="description" ng-bind-html="product.content | limitchars: 250">

          </div>
          <div class="icon">
            <i class="ion-chevron-right"></i>
          </div>
        </div>
        <div class="spacer"></div>
        <h3>
          Product Details
        </h3>
        <ul>
          <li><b>Description:</b> {{product.description}}</li>
          <li><b>Condition:</b> {{product.condition}}</li>
          <li><b>Days Available:</b> {{product.product_rental_period_limit}}</li>
          <li><b>Date Added:</b> {{product.date_added | amCalendar}}</li>
          <li><b>Date Update:</b> {{product.date_updated | amCalendar}}</li>
        </ul>

        <div class="spacer"></div>
        <h3>
          Tags
        </h3>

        <ion-scroll direction="x">
          <div class="tags">
            <a class="tag" href="#/app/tag/{{tag.tag}}" ng-repeat="tag in product.tags">{{tag.tag}}</a>
          </div>
        </ion-scroll>

        <div class="spacer"></div>

        <div class="item-model">
          <button class="button" ng-click="openModal(product)">Display QR Code</button>
        </div>


        <div class="spacer"></div>
        <h3>
          Owner Details
        </h3>
        <a href="#/app/user/{{product.owner.username}}" class="owner-card">
          <div class="image">
            <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{product.owner.gravatar}}?s=90&d=identicon">
          </div>
          <div class="content">
            @{{product.owner.username}}
          </div>
        </a>

        <div class="spacer"></div>
        <h3>
          Reviews
        </h3>
        <button class="button" ng-click="showReviewWrite()" ng-show="product.comments.reviewed">Write Review</button>
        <div class="comments">
          <div class="comment" ng-repeat="comment in product.comments.reviews | orderBy:'-date_added'">
            <div class="profile-image">
              <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{comment.author.gravatar}}?s=90&d=identicon">
            </div>
            <div class="comment">
              {{comment.message}}
            </div>
            <div class="date-commented">
              {{comment.date_added | amCalendar}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view ng-click="closeModal()">
    <ion-header-bar>
      <h1 class="title">{{product.title}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="QR padding">
        <img ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="review-model.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar ng-click="closeReviewWrite()">
      <h1 class="title">Close Review Creator</h1>
    </ion-header-bar>
    <ion-content class="reviewModel">
      <form ng-submit="addComment(comment)" class="comment-input">
        <div class="input">
          <h3>Review</h3>
          <div class="review">
            <textarea type="text" ng-model="comment.message" placeholder="Comment"></textarea>
          </div>
          <h3>Rating</h3>
          <div class="rating">
            <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
          </div>

        </div>
        <button class="button">
          Comment
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
