<ion-view view-title="{{message}}">
  <div class="background">
    <slider-image endpoint="/products/random" numbertoshow="1"></slider-image>
  </div>
  <div class="cover-grey"></div>
  <ion-content class="home" has-bouncing="true">

    <div class="row row-center">
      <h1 class="title animated fadeIn">
        <b>
          こんにちは
          <br>
          Hello
          <br>
          {{NFCurl}}
        </b>
      </h1>
    </div>

    <div class="row bottom animated fadeInUp">
      <div class="button-bar">
        <!--<a href="#/app/register">-->
          <a href="#/app/register" class="button border fillwidth">
            Register
          </a>
        <!--</a>-->

        <!--<a href="#/app/login">-->
          <a href="#/app/login" class="button border fillwidth">
            Login
          </a>
        <!--</a>-->
      </div>


    </div>

  </ion-content>
</ion-view>
