<ion-view view-title="Welcome">
  <ion-content class="home">
    <div class="row row-center">
      <h1 class="home title">
        <b>
          こんにちは
          <br>
          Hello
        </b>
      </h1>
    </div>



    <div class="row row-bottom">
      <div class="row responsive-sm">
        <div class="col">
          <a href="#/app/register">
            <button class="button border fillwidth">
              Register
            </button>
          </a>
        </div>
        <div class="col">
          <a href="#/app/login">
            <button class="button border fillwidth">
              Login
            </button>
          </a>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
