.productSliderBase {
  width: inherit;
  min-height: 180px;
  height: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background: #2C3E50;*/
}
image-slider {
  min-height: 180px;
}

  /*.productSliderBase ion-scroll .item {*/
  /*!*display: inline-block;*!*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*width:200px;*/
  /*height:inherit;*/
/*}*/

.productSliderBase a {
  color: #333333;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
}

.productSliderBase .thumbs {
  width: inherit;
  height: inherit;
  /*position: relative;*/
  display: flex;
  align-content: flex-start;
  margin-top: 0px;

  /*margin-bottom: 10px;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/

  /*flex-shrink: 1;*/
  /*overflow-x: scroll*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: none;*/


}
.productSliderBase .thumb .context {
  position: absolute;
  text-align: center;

  width: 100%
}
.productSliderBase .thumb .context.due {
  position: absolute;
  bottom: -45px;
  text-wrap: none!important;
  white-space: nowrap;
  text-align: center
}
.productSliderBase .thumb {
  position: relative;
  /*display: flex;*/
  flex-grow: 3;
  text-shadow: 0px 0px 2px rgba(30, 30, 30, 0.3);
  /*align-content: flex-start;*/
  height: 150px;
  margin-right: 25px;
  /*box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
  /*min-width: 150px;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*background-color: #e3e3e3*/
  /*display: inline-block;*/
  /*display: inline-block;*/
  /*margin: 0!important;*/
  /*padding: 0!important;*/
  /*max-width: 200px;*/
  /*height: 149px;*/
  /*border: none;*/
  /*display: flex;*/
}




.productSliderBase .scroll {
  height: 0px
}

