<ion-view view-title="{{message}}">
  <ion-content class="home" has-bouncing="true" scroll="true">
    <div class="timeline title padding-vertical">
      <div class="slice">
        <h2 class="animated fadeIn">Current Rentals</h2>
        <image-slider class="newest scrollsection" endpoint="/p/rent/current" numbertoshow="3"
                      limit="3" type="holding"></image-slider>

      </div>
      <div class="spacer"></div>
      <div class="slice">
        <h2 class="animated fadeIn">Recently Updated</h2>
        <image-slider class="newest scrollsection" endpoint="/products/updated/newest" numbertoshow="3"
                      limit="3"></image-slider>
      </div>
      <div class="spacer"></div>
      <div class="slice">
        <h2>Recently added</h2>
        <image-slider class="newest scrollsection" endpoint="/products/added/newest" numbertoshow="4"
                      limit="4"></image-slider>

      </div>
      <div class="spacer"></div>
      <div class="slice">
        <h2 class="animated fadeIn">Most Popular (by likes)</h2>
        <image-slider class="newest scrollsection" endpoint="/products/likes/most" numbertoshow="4"
                      limit="4"></image-slider>
      </div>

      <div class="spacer"></div>
      <!--<h1>Hello</h1>-->
    </div>

  </ion-content>
</ion-view>
