<ion-view view-title="{{product.title}}">
  <!--<div class="scroll itembackground" id="itembackground">-->
  <!--</div>-->
  <ion-content has-bouncing="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="product">
      <imagepreview image={{product.image.size.large}}></imagepreview>
      <div class="status" id="status">
        <div class="message">
          <availability datasource={{product.id}}></availability>
        </div>
      </div>
      <div class="content">
        <h2>{{product.title}}</h2>
        <div class="row">

          <div class="col">
            <h4>Description</h4>
            <div class="row">
              <p>{{product.description}}</p>
            </div>
            <h4>Tags</h4>
              <ion-scroll direction="x">
                <div class="tags">
                  <div class="tag" ng-repeat="tag in product.tags">{{tag.tag}}</div>
                </div>
              </ion-scroll>
            <h4>Availability</h4>
            <div class="row">
              <p>Available for {{product.product_rental_period_limit}} days.</p>
            </div>
          </div>
        </div>



        <div class="button-bar">
          <button class="button" ng-class="rentbuttonclass" ng-click="rentbuttonclick()">{{availability}}</button>
          <button class="button icon-right ion-ios-barcode-outline" ng-click="openModal(product)">QR</button>
          <button class="button icon-right ion-share" ng-click="showAction()">Share</button>
        </div>

        <div class="ownerplane" ng-show="owner">
          <h4><b>You currently hold this</b></h4>
          <div class="row">
            <div class="col">


                  <p><b>Due: </b>{{ava.date_due | amCalendar}}</p>

            </div>
            <div class="col">
              <button class="button movemebuttonright" ng-click="return()">Return</button>
            </div>
          </div>

        </div>

        <br>

        <div class="ownerplane" ng-show="isOwner">
          <h4><b>You Own this</b></h4>
          <div class="row">
            <div class="col">
              <p>Current holding by {{ownerAva.owner}}</p>

                  <p><b>Issued: </b>{{ownerAva.date_taken | amCalendar}}</p>
                  <p><b>Due: </b>{{ownerAva.date_due | amCalendar}}</p>
            </div>

          </div>
          <div class="row">
            <div class="button-bar">
              <button class="button button-minor" ng-click="return()">Mark Available</button>
              <button class="button button-assertive icon-right ion-trash-a" ng-click="deleteItem()">Delete</button>
              <!--<button class="button button-assertive icon-right ion-android-cloud-outline" ng-click="writeToNFC({{product.id}})">Write NFC</button>-->
            </div>
          </div>

        </div>

        <br>


        <div class="owner">
          <div class="item item-avatar">
            <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{product.owner.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>
            <h2>
              <a href="#/app/user/{{product.owner.username}}">@{{product.owner.username}}</a>
              <h3><b>Date Added:</b> <span am-time-ago="product.date_added"></span></h3>
              <h3><b>Date Updated:</b> <span am-time-ago="product.date_updated"></span></h3>
             </h2>
          </div>
        </div>
      </div>

    </div>


  </ion-content>

</ion-view>


<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view ng-click="closeModal()">
    <ion-header-bar>
      <h1 class="title">{{product.title}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="QR padding">
        <img ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
