<ion-view view-title="User">
  <ion-content has-bouncing="true" class="profile">
    <div class="profile-image animated fadeIn">
      <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{profile.gravatar}}?s=90&d=identicon" width="100%" height="auto"/>
    </div>
    <div class="profile-username animated fadeIn">
      @{{profile.username}}
    </div>

    <div class="profile-paper animated slideInUp">
      <h3>QR code</h3>

      <div class="profile-qr">
        <img ng-src="data:image/JPEG;base64,{{qr}}" width="100%" height="auto"/>
      </div>
    </div>


  </ion-content>
</ion-view>
