<ion-view view-title="Showing requests">
  <ion-content class="dark" has-bouncing="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>


    <div class="errormessage" ng-show="noRequests">
      <i class="ion-ios-information-outline"></i>
      <p>
        Sorry, there seems to be no requests.
      </p>
      <p>
        Refresh and try again later.
      </p>
    </div>

    <ion-list>
      <ion-item ng-repeat="request in requests.requests" ng-show="!noRequests">
        <div class="item-avatar ani">
          <img ng-cloak ng-src="https://secure.gravatar.com/avatar/{{request.gravatar}}?s=90&d=identicon" width="30px"
               height="auto"/>
          <h2>{{request.username}}</h2>
          <p>{{request.date_requested | amCalendar}}</p>
        </div>

        <p></p>
        <ion-option-button class="button-assertive" ng-click="deny(request.username, $index)">Deny</ion-option-button>
        <ion-option-button class="button-balanced" ng-click="approve(request.username, $index)">Approve
        </ion-option-button>
      </ion-item>
    </ion-list>


    <ion-item class="listinfo" ng-show="!noRequests">
      <i class="ion-ios-information-outline"></i>
      <p>
      <p>Swipe left on a user to accept or deny there request</p>

    </ion-item>


    <div class="itempadding">

    </div>
</ion-view>
