* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
}



.scroll-content {
  top:0;
}

.bar-calm {
  border:0!important;
  background-color:rgba(2, 136, 209, 0.5)!important;
  height:50px!important;

}

.bar-header {
  border:0;
  /*height:50px;*/
}

.bar-subheader {
  top: 7px;
}

.button {
  background:transparent;
}

.button.fillwidth {
  width:100%;
}

.button.fillwidth.form {
  width:40%;
}

.button.activated {
  background:rgba(0,0,0,0.01);
  box-shadow: none;
}



.row-bottom {
  position:absolute;
  bottom:0;
}

.scroll {
  height:100%;
}

.item.border {
  border-color: #e3e3e3!important;
  border-style: solid;
  border-top: thick solid #f1f2f3!important;
}


.activated {
  background-color:#ECEFF1!important;
}
