/** {*/
  /*font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;*/
/*}*/

/*.scroll-content {*/
  /*top: 0;*/
/*}*/
.item-input-inset {
  margin-top: -44px
}

.bar-calm {
  border: 0 !important;
  /*background-color: rgba(2, 136, 209, 0.5) !important;*/
  background: #2C3E50!important;
}

/*.bar-header {*/
  /*border: 0;*/
  /*!*height:50px;*!*/
/*}*/

/*.bar-subheader {*/
  /*top: 7px;*/
/*}*/

.button {
  background: transparent;
  border: 1px solid #e3e3e3;
}

/*.button.fillwidth {*/
  /*width: 100%;*/
/*}*/

/*.button.fillwidth.form {*/
  /*width: 40%;*/
/*}*/

/*.button.activated {*/
  /*background: rgba(0, 0, 0, 0.01);*/
  /*box-shadow: none;*/
/*}*/

ion-content {
  margin-top: 0!important;
  padding-top: 0!important;
}

.row-bottom {
  position: absolute;
  bottom: 0;
}

.scroll {
  /*position:absolute;*/
  /*top: 0 !important;*/
  /*height: 100%;*/
}

/*.item {*/
  /*!*border: none;*!*/
  /*!*border-top: 3px solid #f1f2f3!important;*!*/
/*}*/

/*.item.border {*/
  /*border-color: #e3e3e3 !important;*/
  /*border-style: solid;*/
  /*border-top: thick solid #f1f2f3 !important;*/
/*}*/

/*.listing.block {*/
  /*border-bottom: 0.5px solid rgba(105, 105, 105, 0.08) !important;*/
/*}*/

/*.activated {*/
  /*background-color: #ECEFF1 !important;*/
/*}*/


.timeline a {
  text-decoration: none;
}
