/* Empty. Add your own CSS if you like */
.home.title {
  text-align:center;
  width:100%;
  position:absolute;
  bottom:60vh;

}


/* login CSS */




/*.login.wrapper {*/
  /*background: url("../img/home.gif") no-repeat top center fixed;*/
  /*-webkit-background-size: contain;*/
  /*-moz-background-size: contain;*/
  /*-o-background-size: contain;*/
  /*background-size: 200%;*/
/*}*/

/*.login {*/

/*}*/

/*.login.input {*/
  /*width:500px;*/
  /*margin: 0 auto;*/
/*}*/

/*.login.input .input-label, .login.input.text {*/
  /*color:#000;*/
/*}*/

/*.login.submit{*/
  /*width:200px;*/
  /*margin: 0 auto;*/
/*}*/

/*.login.form {*/
  /*padding-top:40px;*/
  /*padding-bottom:10px;*/
  /*background-color: rgba(255, 255, 255, 0.5);*/

/*}*/


/* About state */

.about.wrapper {
  position:absolute;
  background: url("../img/about.gif") no-repeat center bottom fixed;
  background-size: contain;
  background-color:#14282E;
}

.about.content h1, .about.content h2, .about.content h3, .about.content p, .about.content i {
  color:#fff;
  text-align:center;
}

.about.content {

  background-color: rgba(20, 20, 20, 0.5);
  height:100%;
}


.image.register {
  height:200px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:25px;
  padding-bottom:25px;
}
.image.register img {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
}

.register.subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
}

.register.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#C62828;
  color:#fff;
  padding:10px;
  box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.65);
}



/* Responsive image viewing */

@media (min-width:0px) {
  .resImage {
    max-width:100px;
  }
}

@media (min-width:300px) {
  .resImage {
    max-width:250px;
  }
}

@media (min-width:500px) {
  .resImage {
    max-width:500px;
  }
}

.resImage {
  width:100%;
  margin:0 auto;
  padding:10px;
}

/* center */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cover {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  z-index:100;
}

.cover.loading {
  top: 0;
  background-color: #fff;
}

.cover.loading .content {
  margin-top:30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;
}

.cover.loading .subtitle {
  margin-top:10%;
  color:#333;
  font-weight:400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;
}

.cover.loading svg {
  height:100px;
  width:100px;
}

.cover.loading p {
  font-weight:800;
  font-size:2em;
}


