/* Empty. Add your own CSS if you like */
.home.title {
  text-align:center;
  width:100%;
  position:absolute;
  bottom:60vh;

}


/* login CSS */




/*.login.wrapper {*/
  /*background: url("../img/home.gif") no-repeat top center fixed;*/
  /*-webkit-background-size: contain;*/
  /*-moz-background-size: contain;*/
  /*-o-background-size: contain;*/
  /*background-size: 200%;*/
/*}*/

.login {
  background-color: #fff!important;
}

/*.login.input {*/
  /*width:500px;*/
  /*margin: 0 auto;*/
/*}*/

/*.login.input .input-label, .login.input.text {*/
  /*color:#000;*/
/*}*/

/*.login.submit{*/
  /*width:200px;*/
  /*margin: 0 auto;*/
/*}*/

/*.login.form {*/
  /*padding-top:40px;*/
  /*padding-bottom:10px;*/
  /*background-color: rgba(255, 255, 255, 0.5);*/

/*}*/


/* About state */

.about.wrapper {
  position:absolute;
  background: url("../img/about.gif") no-repeat center bottom fixed;
  background-size: contain;
  background-color:#14282E;
}

.about.content h1, .about.content h2, .about.content h3, .about.content p, .about.content i {
  color:#fff;
  text-align:center;
}

.about.content {

  background-color: rgba(20, 20, 20, 0.5);
  height:100%;
}


.image.register {
  height:200px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:25px;
  padding-bottom:25px;
}
.image.register img {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
}

.register.subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
}

.register.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#C62828;
  color:#fff;
  padding:10px;
  box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.65);
}



/* Responsive image viewing */

@media (min-width:0px) {
  .resImage {
    max-width:100px;
  }
}

@media (min-width:300px) {
  .resImage {
    max-width:250px;
  }
}

@media (min-width:500px) {
  .resImage {
    max-width:500px;
  }
}

.resImage {
  width:100%;
  margin:0 auto;
  padding:10px;
}

/* center */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cover {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  z-index:100;
}

.cover.loading {
  top: 0;
  background-color: #fff;
}

.cover.loading .content {
  margin-top:30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;
}

.cover.loading .subtitle {
  margin-top:10%;
  color:#333;
  font-weight:400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;
}

.cover.loading svg {
  height:100px;
  width:100px;
}

.cover.loading p {
  font-weight:800;
  font-size:2em;
}



/*
    ITEM
*/

.itembackground {
  position:fixed;
  background-color:#333;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: none no-repeat center top fixed;
  background-size: contain;
  border-style: solid;
  border-bottom: thick dotted #ff0000;
}

.transparent {
  background-color: RGBA(255, 255, 255, 0);
}

.white {
  color:#333!important;
  /*text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);*/
}

.block {
  overflow:hidden;
  background:none!important;
  margin:0!important;
  padding: 0!important;
}

.dark {
  margin-top:50px;
}

.background {
  /*background: none no-repeat center center fixed;*/
  /*background-size: cover;*/
  /*-webkit-filter: blur(3px);*/
  /*opacity:1;*/
  /*filter: blur(5px);*/
  /*width:200%;*/
  /*height:auto;*/
  /*!*overflow:hidden;*!*/
  /*position:absolute;*/
  /*top:-500%;*/
  /*left:-10%;*/
  /*z-index:2;*/
}

.product {
  position:absolute;
  background-color:#fff;
  width:100%;
  height:100%;
  top: 50px;
  /*box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);*/
}

.product .status {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#eee;
  height:40px;
}

.content {
  padding:20px;
}

.item .left {
  background-color: #eee;
  width:70%;
  float:left;
}

.item .right{
  background-color:#0a9dc7;
  width:30%;

}
availability {

}

.item .status {
  position:absolute;
  top:10px;
  right:10px;
}

.status.icon {
  top:25%;
  right:20px;
  font-size:30px;
}

.background.white {
  background-color:rgba(255, 255, 255, 0.97);

  box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.25);
}

.itempadding {
  padding-bottom: 100px;
}

.navi {
  transition: 0.1s;
}

.navi ion-item{
  background-color:#222!important;
}

.navi .item-complex{
  margin:0!important;
  padding:0!important;
  border:none!important;
}

.navi .item-content {
  background-color: #F5F5F5;
  color:#333;
  border-bottom: thin none transparent!important;
  border-top: thin none transparent!important;
  margin:0;
  border:none;

}
.item-content {
  border-bottom: thin none transparent!important;
  border-top: thin none transparent!important;
}

.darkbk {
  background-color:#fff;

}

.ani.ng-enter {
  -webkit-animation: fadeInLeft 0.2s;
  animation: fadeInLeft 0.2s;
}

.ani.ng-enter-stagger {
  -webkit-animation-delay:100ms;
  animation-delay:100ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}




/*

          ITEM


*/

.ownerplane {
  margin-top:10px;
  background-color: transparent;
  width:100%;
  padding:15px;
  border-radius: 5px;
   border: 1px solid #d7d1d1;
}

.movemebuttonright {

}
